<%- include ./partials/header %>
<div class="container">
  <form class="addItems" action="/items/add" method="post">
    Input Items Name: <br>
    <input type="text" name="name" value="">
    <br>
    Input Items QTY: <br>
    <input type="text" name="item_qty" value="">
    <br>
    Input Items Price: <br>
    <input type="text" name="item_price" value="">
    <br><br>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
<%- include ./partials/footer %>
</body>
</html>
