<%- include ./partials/header %>
<div class="container">
  <% if(hasOwnProperty('error')){ %>
    <h4 style="color: red">Please Input The Correct Email Format!</h4>
  <% } %>
  <form class="addSuppliers" action="/customers/add" method="post">
    Input Suppliers First Name: <br>
    <input type="text" name="first_name" value="" required="">
    <br>
    Input Suppliers Last Name: <br>
    <input type="text" name="last_name" value="" required="">
    <br>
    Input Suppliers Email: <br>
    <input type="email" name="email" value="" required="">
    <br><br>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
<%- include ./partials/footer %>
</body>
</html>
