<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>register suppliers page</h1>
  <form class="register" action="/registerSuppliers" method="post">
    <label>Input First Name</label>
    <input type="text" name="first_name" value="">
    <label>Input Last Name</label>
    <input type="text" name="last_name" value="">
    <label>Input Username</label>
    <input type="text" name="username" value="">
    <label>Input Email</label>
    <input type="email" name="email" value="">
    <label>Input Password</label>
    <input type="password" name="password" value="">
    <label>Input Role</label>
    <select class="role" name="role">
      <option value="supplier">Supplier</option>
    </select>
    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
